/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	padding :80px;
}
.brand{
	background: #627d4d; /* Old browsers */
background: -moz-linear-gradient(top,  #627d4d 0%, #1f3b08 65%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627d4d), color-stop(65%,#1f3b08)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #627d4d 0%,#1f3b08 65%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #627d4d 0%,#1f3b08 65%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #627d4d 0%,#1f3b08 65%); /* IE10+ */
background: linear-gradient(to bottom,  #627d4d 0%,#1f3b08 65%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */
border-radius: 5px 60px 0px 50px;
border: solid 1px #DDDDDD;
box-shadow : 1px 1px 8px grey;
}


.brand span{
	background-color: orange;
	border-radius: 3px 33px;
	padding:10px;
	font-weight: bold;
	font-size: 26px;
	color: #ffd;
	border: dashed solid;

}
.page-header span{
	font-size : 20px;
	color: #1F3B08;
	margin-right:3px;
}
.brand span:hover{
	color: green;
	
}
.new h1{
	float:left;
	font-size:20px;
	border: green solid;
}
.new{
	float: left;
	background: green;
	width: 400px;
}
.new{
	width: 400px;
	height:60px;
	float:left;
}
.new form div{
	
	margin:3px 0px}

.new  form div textarea{
	width:332px;
	height:40px;
	
}
.new .actions{
	margin-left:50px;
}
